.day-timeline-container {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    user-select: none;
    font-family: Arial, sans-serif;

    .timeline-item {
        position: relative;
        user-select: none;
        border-bottom: 1px solid #ccc;
        box-sizing: border-box;
        cursor: pointer;

        &:nth-child(2n) {
            border-bottom: 1px dotted #ccc;
        }

        &:hover {
            background-color: #f4f1f1;
        }

        .time-label {
            position: absolute;
            transform: translateX(-100%) translateY(-50%);
            /*top: 50%;*/

            &.right {
                transform: translateX(100%) translateY(-50%);
                right: 0;
            }
        }
    }

    .day-timeline-period {
        position: absolute;
        width: 95%;
        margin: 0 auto;
        left: 0;
        right: 0;
        background-color: rgb(255 235 205 / 65%);
        border: 1px solid black;
        z-index: 1;


        &.cross-start {
            border-top: 2px dashed #878585;

            &::before {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                border: 5px solid transparent;
                top: 0;
                border-bottom-color: #878585;
            }
        }

        &.cross-end {
            border-bottom: 2px dashed #878585;

            &::after {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                border: 5px solid transparent;
                bottom: 0;
                border-top-color: #878585;
            }
        }
    }

    .new-period {
        background-color: #ccc;
        border-radius: 2px;

        .resize-top,
        .resize-bottom {
            position: absolute;
            width: 100%;
            height: 10px;
            cursor: ns-resize;

            &::before {
                content: "";
                position: absolute;
                left: 50%;
                height: 8px;
                width: 8px;
                background-color: #fff;
                border: 2px solid orange;
                border-radius: 50%;
                cursor: ns-resize;
            }
        }

        .resize-top {
            top: 0;
            transform: translateY(-50%);
        }

        .resize-bottom {
            bottom: 0;
            transform: translateY(50%);
        }
    }
}
